# List of untracked files to ignore
*.xml
.Rproj.user
practice/ayudantias/ayu3/dp-intro.log
practice/.Rhistory
tareas/tareas_anteriores
tareas/tarea_anteriores/tarea3/Ahorro_pf_caso_base.mat
tareas/tarea_anteriores/tarea3/Ahorro_pf_Restr_Cred.mat
tareas/tarea_anteriores/tarea3/CasoBase.m
tareas/tarea_anteriores/tarea3/discAR.m
tareas/tarea_anteriores/tarea3/PrimeraParte.asv
tareas/tarea_anteriores/tarea3/PrimeraParte.m
tareas/tarea_anteriores/tarea3/ProblemaAgente.m
tareas/tarea_anteriores/tarea3/ProblemaAgenteReducidCGob.m
tareas/tarea_anteriores/tarea3/ProblemaAgenteReducido.m
tareas/tarea_anteriores/tarea3/SegundaParte.m
tareas/tarea_anteriores/tarea3/utility.m
tareas/tarea3/descriptives.asv
tareas/tarea_anteriores/Tarea 3/utility.m
tareas/tarea_anteriores/Tarea 3/Trayec_Shocks.mat
tareas/tarea_anteriores/Tarea 3/SegundaParte.m
tareas/tarea_anteriores/Tarea 3/Tarea3.pdf
tareas/tarea_anteriores/Tarea 3/ProblemaAgenteReducido.m
tareas/tarea_anteriores/Tarea 3/ProblemaAgenteReducidCGob.m
tareas/tarea_anteriores/Tarea 3/ProblemaAgente.m
tareas/tarea_anteriores/Tarea 3/CasoBase.m
*.zip
*.mat
tareas/tarea_anteriores/Tarea 3/discAR.m
tareas/tarea_anteriores/Tarea 3/Gráficos/a1.png
tareas/tarea_anteriores/Tarea 3/Gráficos/a2.png
tareas/tarea_anteriores/Tarea 3/Gráficos/a3.png
tareas/tarea_anteriores/Tarea 3/Gráficos/c1.png
tareas/tarea_anteriores/Tarea 3/Gráficos/d1.png
tareas/tarea_anteriores/Tarea 3/Gráficos/d2.png
tareas/tarea_anteriores/Tarea 3/Gráficos/e2.png
tareas/tarea_anteriores/Tarea 3/Gráficos/f2.png
tareas/tarea_anteriores/Tarea 3/Gráficos/f4.png
*.png
tareas/tarea_anteriores/Tarea 3/PrimeraParte.m
