# List of untracked files to ignore
*.xml
.Rproj.user
practice/ayudantias/ayu3/dp-intro.log
practice/.Rhistory
tareas/tareas_anteriores
tareas/tarea_anteriores/tarea3/Ahorro_pf_caso_base.mat
tareas/tarea_anteriores/tarea3/Ahorro_pf_Restr_Cred.mat
tareas/tarea_anteriores/tarea3/CasoBase.m
tareas/tarea_anteriores/tarea3/discAR.m
tareas/tarea_anteriores/tarea3/PrimeraParte.asv
tareas/tarea_anteriores/tarea3/PrimeraParte.m
tareas/tarea_anteriores/tarea3/ProblemaAgente.m
tareas/tarea_anteriores/tarea3/ProblemaAgenteReducidCGob.m
tareas/tarea_anteriores/tarea3/ProblemaAgenteReducido.m
tareas/tarea_anteriores/tarea3/SegundaParte.m
tareas/tarea_anteriores/tarea3/utility.m
